<app-businesses></app-businesses>
<h1>Community Volunteers</h1>
<section class="articles">
  <article>
    <div class="article-wrapper">
      <figure>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxj5nELwNs6Ta5YvtYcmkkFXcvKbnteDOOMA&s" alt="" />
      </figure>
      <div class="article-body">
        <h2>Success Stories Of Volunteers</h2>
        <p>
          "Volunteering is a human act that gives us a feeling of satisfaction because we contribute to the development of our society and cleaning garbage. 
        </p>
        <a href="/volunter" class="read-more">
          Read more <span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="https://assets.thehansindia.com/h-upload/2022/05/04/1290362-coll.webp" alt="" />
      </figure>
      <div class="article-body">
        <h2>Success Stories Of Volunteers</h2>
        <p>
          "Volunteering gave me the opportunity to be part of the community and gave me a sense of belonging, so, it became part of my identity.
        </p>
        <a href="/volunter" class="read-more">
          Read more <span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="https://www.sakshi.com/sites/default/files/gallery_images/2024/03/31/06_0.jpg" alt="" />
      </figure>
      <div class="article-body">
        <h2>Success Stories Of Volunteers</h2>
        <p>
          "Volunteering is to devote the skills and efforts of young people to serving the community in all its segments and build a better society.
        </p>
        <a href="/volunter" class="read-more">
          Read more <span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
</section>




<h1>Local organizations and NGO'S</h1>
<section class="articles">
  <article>
    <div class="article-wrapper">
      <figure>
        <img src="https://images.jdmagicbox.com/quickquotes/listicle/listicle_1689831338280_oqiei_1156x867.jpg" alt="" />
      </figure>
      <div class="article-body">
        <h2>SOCIAL WORK ON NGO</h2>
        <p>
          One of the primary roles of an NGO is to act as an advocate for social change. NGOs often work towards influencing policies and legislation that affect the communities they serve. By engaging in advocacy work.
        </p>
        <a href="/volunter" class="read-more">
          Read more <span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/8e/Jagseer_S_Sidhu_teaching_school_students_about_Wikipedia.jpg" alt="" />
      </figure>
      <div class="article-body">
        <h2>EDUCATION ON NGO</h2>
        <p>
          Education is a fundamental right of every individual. However, in India, millions of children still do not have access to quality education due to various socio-economic factors and addressing issues related to education.
        </p>
        <a href="/volunter" class="read-more">
          Read more <span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="https://images.news18.com/ibnlive/uploads/2023/04/world-health-day-2023-mental-health-physical-fitness.jpg" alt="" />
      </figure>
      <div class="article-body">
        <h2>HEALTH ON NGO</h2>
        <p>
          NGOs in India have taken on the responsibility of promoting health and well-being among vulnerable populations,they address pressing health and malnutrition, sanitation, maternal health, child health and infectious diseases.
        </p>
        <a href="/volunter" class="read-more">
          Read more <span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
</section>