<div id="nav">
  <h3>CSP PROJECT</h3>
  <ul style="list-style-type: none; padding: 0;">
      <li style="display: inline-block; margin-right: 10px;">
          <a style="padding: 10px;padding-right: 10px; background-color: black;border-radius: 5px; color: aqua;margin-right: 80px; font-family: 'Arial';font-size: large;font-weight: bolder; border: 1px solid aqua;cursor:pointer;text-decoration: none;" href="/home">
              Home
          </a>
          <a style="padding: 10px; background-color: black;border-radius: 5px; color: aqua; font-family: 'Arial';font-size: large;font-weight: bolder; border: 1px solid aqua;cursor:pointer;text-decoration: none;" routerLink="/view">
         Project
          </a>
      </li>
      <li style="display: inline-block;">
          <a style="padding: 10px;cursor: pointer;border-radius: 5px; background-color: black; color: aqua; font-family: 'Arial'; border: 1px solid aqua;font-size: large;font-weight: bolder; text-decoration: none;" href="/signup">
              Signup
          </a>
      </li>
  </ul>
  
</div>