<app-businesses></app-businesses>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  
</head>
<body>
    <h1 style="text-align: center;margin-top: 5%;margin-bottom: 5%;">Services</h1>
  <div style="margin-top: 5%;margin-bottom: 5%;"class="gallery">
    <article class="card">
      <figure>
        <img src="https://static.vecteezy.com/system/resources/previews/024/644/518/non_2x/red-update-button-photo.jpg" alt="Winter Forest">
        <figcaption>
          <h3>Updations</h3>
        </figcaption>
      </figure>
    </article>
    <article class="card">
      <figure>
        <img src="https://st.depositphotos.com/1021974/1289/i/950/depositphotos_12896652-stock-photo-stamp-verified.jpg"
          alt="Lavender Field">
        <figcaption>
          <h3>Verifications</h3>
        </figcaption>
      </figure>
    </article>
    <article class="card">
      <figure>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg2mpgWDwmddlqTPJRZ9KGYcud0Kiy1xbRFA&s"
          alt="Wooden Bridge">
        <figcaption>
          <h3>Registration</h3>
        </figcaption>
      </figure>
    </article>
  </div>
  <div class="services-container">
    
    <div class="service-card">
       
        <div class="service-icon">
            <img src="https://w7.pngwing.com/pngs/946/534/png-transparent-computer-icons-youtube-theme-update-button-blue-angle-text.png" alt="Document Update">
        </div>
        <div class="service-content">
            <h3>Document Update</h3>
            <a href="https://myaadhaar.uidai.gov.in/du" class="free-service">Click Here to update your Proof of Identity (PoI) and Proof of Address (PoA) Documents.</a>
            
        </div>
    </div>
    <div class="service-card">
        <div class="service-icon">
            <img src="https://w7.pngwing.com/pngs/946/534/png-transparent-computer-icons-youtube-theme-update-button-blue-angle-text.png" alt="Download Aadhaar">
        </div>
        <div class="service-content">
            <h3> Aadhaar Update</h3>
            <a href="https://myaadhaar.uidai.gov.in/genricDownloadAadhaar" class="free-service">Click here to download your Aadhaar card.</a>
        </div>
    </div>
    <div class="service-card">
        <div class="service-icon">
            <img src="https://w7.pngwing.com/pngs/946/534/png-transparent-computer-icons-youtube-theme-update-button-blue-angle-text.png" alt="Retrieve EID / Aadhaar number">
        </div>
        <div class="service-content">
            <h3>EWS Certificate</h3>
            <a href="https://services.india.gov.in/service/detail/apply-online-for-economically-weaker-section-ews-certificate"class="free-service">Click here to update your EWS Certificate.</a>
        </div>
    </div>
    <div class="service-card">
        <div class="service-icon">
            <img src="https://w7.pngwing.com/pngs/946/534/png-transparent-computer-icons-youtube-theme-update-button-blue-angle-text.png" alt="VID Generator">
        </div>
        <div class="service-content">
            <h3>Income Certificate</h3>
            <a href="https://services.india.gov.in/service/detail/andhra-pradeshincome-certificate" class="free-service">Click here to update your Income Certificate.</a>
        </div>
    </div>
    <div class="service-card">
        <div class="service-icon">
            <img src="https://static.vecteezy.com/system/resources/previews/012/528/256/non_2x/verified-icon-illustration-guaranteed-stamp-or-verified-badge-trendy-design-vector.jpg" alt="Lock / Unlock Aadhaar">
        </div>
        <div class="service-content">
            <h3>Verify Documents</h3>
            <a href="https://myaadhaar.uidai.gov.in/verify-email-mobile" class="free-service">Click here to Verify your Proof of Identity (PoI) and Proof of Address (PoA) Documents.</a>
        </div>
    </div>
    <div class="service-card">
        <div class="service-icon">
            <img src="https://static.vecteezy.com/system/resources/previews/012/528/256/non_2x/verified-icon-illustration-guaranteed-stamp-or-verified-badge-trendy-design-vector.jpg" alt="Bank Seeding Status">
        </div>
        <div class="service-content">
            <h3>Verify Aadharcard</h3>
            <a href="https://myaadhaar.uidai.gov.in/verifyAadhaar"class="free-service">Click here to verify your Aadharcard.</a>
        </div>
    </div>
    <div class="service-card">
        <div class="service-icon">
            <img src="https://static.vecteezy.com/system/resources/previews/012/528/256/non_2x/verified-icon-illustration-guaranteed-stamp-or-verified-badge-trendy-design-vector.jpg" alt="Bank Seeding Status">
        </div>
        <div class="service-content">
            <h3>Verify EWS certificate</h3>
            <a href="https://services.india.gov.in/service/detail/apply-online-for-economically-weaker-section-ews-certificate"class="free-service">Click here to verify your EWS certificate.</a>
        </div>
    </div>
    <div class="service-card">
        <div class="service-icon">
            <img src="https://static.vecteezy.com/system/resources/previews/012/528/256/non_2x/verified-icon-illustration-guaranteed-stamp-or-verified-badge-trendy-design-vector.jpg" alt="Bank Seeding Status">
        </div>
        <div class="service-content">
            <h3>Verify Income Certificate</h3>
            <a href="https://services.india.gov.in/service/detail/andhra-pradeshincome-certificate"class="free-service">Click here to verify your Income Certificate.</a>
        </div>
    </div>
    <div class="service-card">
        <div class="service-icon">
            <img src="https://w7.pngwing.com/pngs/678/741/png-transparent-skill-organization-uttar-pradesh-sales-marketing-registration-acts-text-logo-electric-blue-thumbnail.png" alt="Bank Seeding Status">
        </div>
        <div class="service-content">
            <h3>Register Account</h3>
            <a href="https://tathya.uidai.gov.in/access/login?role=resident"class="free-service">Click here to register your Bank Seeding Status.</a>
        </div>
    </div>
    <div class="service-card">
        <div class="service-icon">
            <img src="https://w7.pngwing.com/pngs/678/741/png-transparent-skill-organization-uttar-pradesh-sales-marketing-registration-acts-text-logo-electric-blue-thumbnail.png" alt="Bank Seeding Status">
        </div>
        <div class="service-content">
            <h3>Register Aadhar PVC Card</h3>
            <a href="https://myaadhaar.uidai.gov.in/genricPVC" class="free-service">Click here to register your Aadharcard.</a>
        </div>
    </div>
    <div class="service-card">
        <div class="service-icon">
            <img src="https://w7.pngwing.com/pngs/678/741/png-transparent-skill-organization-uttar-pradesh-sales-marketing-registration-acts-text-logo-electric-blue-thumbnail.png" alt="Bank Seeding Status">
        </div>
        <div class="service-content">
            <h3>Register EWS Certificate</h3>
            <a href="https://services.india.gov.in/service/detail/apply-online-for-economically-weaker-section-ews-certificate" class="free-service">Click here to register your EWS Certificate.</a>
        </div>
    </div>
    <div class="service-card">
        <div class="service-icon">
            <img src="https://w7.pngwing.com/pngs/678/741/png-transparent-skill-organization-uttar-pradesh-sales-marketing-registration-acts-text-logo-electric-blue-thumbnail.png" alt="Bank Seeding Status">
        </div>
        <div class="service-content">
            <h3>Register Income Certificate</h3>
            <a href="https://services.india.gov.in/service/detail/andhra-pradeshincome-certificate" class="free-service">Click here to register your Income Certificate.</a>
        </div>
    </div>
</div>

 
</body>

</html>