<body>
    <footer class="footer">
        <div class="footer-container">
            <h1>Get Us In Touch</h1>
            <div class="footer-social">
                <a href="https://facebook.com" class="social-link" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com" class="social-link" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://instagram.com" class="social-link" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://linkedin.com" class="social-link" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <p class="footer-text">© 2024 CSP PROJECT. NEC.</p>
        </div>
    </footer>
</body>